.home-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #1A4F6D;
}

.image-container {
  flex: 1;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-right: 50px;
;
}

.image-container img {
  max-width: 100%;
  max-height: 100%;
}

.description-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding-left: 50px;
  
}

.description-container h2 {
  font-size: 24px;
  margin-bottom: 10px;
  color: #FFF;
  font-family:monospace;
  font-size: 50px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.description-container p {
  font-size: 16px;
  color: #FFF;
  font-family: monospace;
  font-size: 25px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}
body{
  background-color: #1A4F6D
}

.floating-text {
  position: relative;
  animation: floatAnimation 5s infinite;
}

@keyframes floatAnimation {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-20px);
  }
  100% {
    transform: translateY(0);
  }
}
.floating-text h1, .floating-text h2 {
  color: white; /* Add this line to set the color to white */
  font-size: 58px;
  color: #FFF;
  font-family: monospace;
}

.floating-text p{
  color: white; /* Add this line to set the color to white */
  font-size: 32px;
  color: #FFF;
  font-family: monospace;
}